.topnav {
    background-color: rgb(8, 22, 38);
    position: fixed;
    z-index: 100;
    font-family: SF Mono Bold;
    font-size: 12px;
    height: 30px;
    color: rgb(93, 128, 160);
    width: 100%;

}

.leftNav {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width:50%;
    text-align: center;
    padding-top: 5px;
    color: rgb(93, 128, 160);
}

.rightNav {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width:50%;
    padding-top: 5px;
}

.navItemLeft {
    width:20%;
    font-size: 14px;
    color:red;
}

.navItemRight {
    width:25%;
    float: right;
    font-size: 14px;
}

.spacingDivNav {
    width:50%;
}

@font-face{
    font-family: SF Mono Bold;
    src: local(SFMonoBold), url(../static/fonts/SFMonoBold.otf);
    font-weight: medium;
}

a:hover {
    text-decoration: none;
}

.navItemLeft > a {
    color: rgb(93, 128, 160);
}


.navItemLeft > a:hover {
    text-decoration: none;
    color: rgb(93, 128, 160);
    opacity: 0.5;
}

.navItemRight > a {
    color: rgb(93, 128, 160);
}

.navItemRight > a:hover {
    text-decoration: none;
    color: rgb(93, 128, 160);
    opacity: 0.5;
}