/* 
.projectImgWrapper {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    color: grey;
    font-size: 14px;
    font-family: SF Mono Light Italic;
    font-style: italic;
    max-width: 50%;
 }  */


.projectImgWrapper {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    color: grey;
    font-size: 12px;
    font-family: SF Mono Light Italic;
    font-style: italic;
    width: 60%;
    margin-left: 18%;
    margin-right: 18%;
}

/* can edit to make it autosize */
.projectImg {
    margin-bottom: 0px;
    width: 100%;
}

.imgCaption {
    display: block;
}