.projectContainer {
    width: 100%;
    background-color: rgb(8, 22, 38);

}

.projectTitle {
    color: rgb(240, 240, 240);
    font-family: SF Mono Bold;
    font-size: 34px;
    margin-left: 75px;
    padding-top: 50px;
    width: 100%;
}

.projectGrid {
    width: 70%;
    margin-left: 75px;
    display: flex;
    flex-wrap: wrap;
}