@font-face{
    font-family: SF Mono Bold;
    src: local(SFMonoBold), url(./static/fonts/SFMonoBold.otf);
    font-weight: medium;
}

@font-face{
    font-family: SF Mono Light;
    src: local(SFMonoLight), url(./static/fonts/SFMonoLight.otf);
    font-weight: medium;
}

@font-face{
    font-family: SF Mono Semibold;
    src: local(SFMonoSemibold), url(./static/fonts/SFMonoSemibold.otf);
    font-weight: medium;
}

@font-face{
    font-family: SF Mono Heavy;
    src: local(SFMonoHeavy), url(./static/fonts/SFMonoHeavy.otf);
    font-weight: medium;
}

@font-face{
    font-family: SF Mono Medium;
    src: local(SFMonoMedium), url(./static/fonts/SFMonoMedium.otf);
    font-weight: bold;
}